@import "styles/shared.scss";
html {
  font-family: "Molengo", sans-serif;
}
.page-header {
  background-color: $formcolor;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
}


.label {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 20px;
  transition: all 0.2s ease;
}

.form-input {
  height: 40px;
  padding: 0;
  border: none;
  padding: 0 10px;
  font-size: 16px;
}



header {
  text-align: center;
  margin: 30px;
}
header h1 {
  font-family: "Leckerli One", cursive;
  font-size: 4rem;
  margin: 0px;
  color: brown;
  text-shadow: 2px 2px 5px white;
}
header h2 {
  font-family: "Fredericka the Great", cursive;
  font-size: 2.7rem;
  text-transform: uppercase;
  margin-top: -20px;
  margin-bottom: 90px;
  color: gray;
  text-shadow: 2px 2px 5px white;
}
body {
  margin: 0;
  background: url("http://juliusanghelina.ro/personal-projects/forget-book/wrapper.png");
}
.wrapper {
  width: 95%; 
   height: 50%;
  margin: 0 auto;
  padding: 5%;
  border-radius: 6px;
  box-shadow: 2px 2px 14px rgb(66, 66, 66);
}

